# --- Qt Creator 生成的个人配置 (必须忽略，换台电脑配置不一样) ---
*.pro.user
*.pro.user.*
CMakeLists.txt.user
CMakeLists.txt.user*

# --- 编译生成的垃圾目录 ---
build/
debug/
release/
x64/
x86/
bin/

# --- 编译中间文件 ---
*.obj
*.o
*.moc
*.qrc
Makefile*
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# --- 可执行文件 (不应该提交 exe，那是编译出来的结果) ---
*.exe
*.dll
*.so
*.a
*.lib

# --- OpenCV生成图片 (看你需求，一般不提交测试图片) ---
*.jpg
*.png

# --- IDE & Editor Configuration ---
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates